@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 12px;
      height: 20px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #ffffff;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #17835d;
      border-radius: 100vh;
      border: 3px solid #f6f7ed;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #198760;
    }

    .pagination_cmp .pagination-container {
      background-color: #fff;
      border-radius: 5px;
      padding: 10px 0px;
    }
    .pagination_cmp .paginate-buttons {
      width: 40px;
      height: 40px;
      margin-inline: 5px;
      cursor: pointer;
      border: none;
      background-color: transparent;
      border-radius: 20px;
    }
    .pagination_cmp .back-button {
      width: 40px;
    }
    .pagination_cmp .next-button {
      width: 40px;
    }
    .pagination_cmp .back-button svg {
      transform: rotate(180deg);
    }
    .pagination_cmp .active-page {
      background-color: #2592b3;
      color: #fff;
    }
    
    .pagination_cmp .paginate-buttons:hover {
      background-color: #e5e5e5;
      transition: ease-in-out 0.3s;
    }
    .pagination_cmp .active-page:hover {
      background-color: #2483a0;
      color: #fff;
    }
    .pagination_cmp .back-button:active,
    .pagination_cmp .next-button:active {
      background-color: #dedede;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
    
      to {
        opacity: 1;
      }
    }
    .animate__fadeIn {
      animation: fadeIn 0.5s ease-in;
    }

    @keyframes slideInUp {
      from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
      }
    
      to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
    }
    .animate__slideInUp {
      animation: slideInUp 0.5s ease-in;
    }
    @keyframes slideOutDown {
      from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
    
      to {
        visibility: hidden;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
      }
    }
    .animate__slideOutDown {
      animation: slideOutDown 0.5s ease-in;
    }
    @keyframes slideInLeft {
      from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
      }
    
      to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
    }
    .animate__slideInLeft {
      animation: slideInLeft 0.5s ease-in;
    }
    @keyframes slideOutLeft {
      from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
    
      to {
        visibility: hidden;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
      }
    }
    .animate__slideOutLeft {
      animation: slideOutLeft 0.5s ease-in;
    }
    
  }